.clear {
  clear: both; }

.from-me {
  display: inline-block;
  min-width: 120px;
  width: auto;
  position: relative;
  padding: 10px 20px;
  margin-bottom: 8px;
  color: white;
  background: #0B93F6;
  border-radius: 25px; }
  .from-me:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    transform: translate(0, -2px); }
  .from-me:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    transform: translate(-30px, -2px); }

.from-them {
  display: inline-block;
  position: relative;
  min-width: 120px;
  width: auto;
  padding: 10px 20px;
  margin-bottom: 8px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black; }
  .from-them:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    transform: translate(0, -2px); }
  .from-them:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    transform: translate(-30px, -2px); }

/*# sourceMappingURL=Message.css.map */
